@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.range::-webkit-slider-thumb {
  background: #00fd0a;
}


.some-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Webkit-based browsers (Chrome, Safari) */
}

html {
  scroll-behavior: smooth;
}
